@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700|Roboto:300,300i,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700|Roboto:300,300i,400&display=swap");
:root {
  --base-col: #fff;
  --prim-col: #0d0d0d;
  --prim-col-light: #fff;
  --sec-col: #e4a000;
  --sec-col-dark: #fff;
  --white-col: #fff;
  --red-col: #dd3d3d;
}

.navbar {
  height: 7rem;
  background-color: var(--white-col);
  color: #fff;
}

.navbar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
}

.navbar__brand {
  display: block;
  height: 5rem;
}

.navbar__logo {
  height: 100%;
}

.navbar__search {
  display: block;
  width: 60rem;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 62.5% !important;
  color: var(--primary-color) !important;
  background-color: var(--base-color) !important;
  -webkit-font-smoothing: antialiased;
}

button {
  background: none;
  outline: none !important;
  border: none;
}

p {
  font-weight: 400;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 600;
  margin: 0;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.btn--icon svg {
  height: 3rem;
  width: 3rem;
}

.inp {
  outline: none;
  border: none;
}

.inp--search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.inp--search input {
  font-size: 1.4rem;
  width: inherit;
  padding: 1.8rem;
  background-color: #f3f3f3;
}

.inp--search button {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.inp--search button svg {
  height: 2.2rem;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 62.5% !important;
  color: var(--primary-color) !important;
  background-color: var(--base-color) !important;
  -webkit-font-smoothing: antialiased;
}

button {
  background: none;
  outline: none !important;
  border: none;
}

p {
  font-weight: 400;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 600;
  margin: 0;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
/*# sourceMappingURL=main.css.map */