.cart {
	display: flex;
	padding: 50px 0;
	align-items: flex-start;
	&__main {
		flex: 1;
	}

	&__count {
		font-size: 18px;
		color: var(--sec-text-col);
	}

	&__list {
		display: flex;
		flex: 1;
		flex-direction: column;
		padding-top: 20px;
		padding-right: 40px;
		margin-bottom: 20px;

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
	&__summarry {
		width: 380px;
		padding: 30px 20px;
		background-color: #1d1d1d;
		color: #fff;
		border-radius: 10px;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

		& .cart__title {
			font-size: 14px;
			color: #a8a8a8;
		}

		& .cart__total {
			text-align: right;
			margin-left: 0 !important;
			margin-right: 20px !important;
		}
	}
	&__total {
		font-family: 'montserrat';
		font-size: 25px;
		font-weight: 700;
		margin-left: 40px;

		span {
			position: relative;
			top: -8px;
			font-size: 14px;
		}
	}
}
