.details {
    display: flex;
    padding-top: 30px;
    @include respond(tab-land) {
        flex-direction: column;
        padding-top: 10px;
    }
    &__img-viewer {
        display: flex;
        width: 50%;
        min-width: 50%;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 20px;
        padding-right: 20px;

        @include respond(laptop) {
            min-width: none;
        }

        @include respond(tab-land) {
            width: 100%;
            min-width: 100%;
            flex-direction: row;
            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        }

        @include respond(mobile-lg) {
            flex-direction: column;
            padding-right: 0;
            height: 450px;
            padding-bottom: 10px;
        }
        @include respond(mobile-m) {
            height: 400px;
        }
        @include respond(mobile-s) {
            height: 350px;
        }
    }
    &__img-item {
        display: flex;
        align-items: flex-start;
        list-style: none;

        @include respond(tab-land) {
            flex-direction: column;
            width: 180px;
            padding-left: 10px;
        }
        @include respond(mobile-lg) {
            flex-direction: row;
            width: 100%;
            height: 100px;
        }
        @include respond(mobile-m) {
            height: 90px;
            padding-left: 0px;
            margin-bottom: 10px;
        }
    }

    &__img-list {
        overflow: hidden;
        height: 100px;
        width: 100%;
        cursor: pointer;
        border: 3px solid transparent;
        @include transition;
        &:hover {
            border: 3px solid var(--sec-col);
            img {
                transform: translateX(-50%) scale(1.1);
            }
        }

        &:not(:last-child) {
            margin-right: 2px;
        }
    }

    &--img-active {
        border: 3px solid var(--sec-col);
        img {
            transform: translateX(-50%) scale(1.1);
        }
    }

    &__img-main {
        height: 450px;
        width: auto;
        overflow: hidden;
        margin-bottom: 10px;
        padding: 35px;

        @include respond(laptop) {
            width: 100%;
        }

        @include respond(tab-land) {
            width: 100%;
            padding: 0;
        }
    }

    &__description {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 40px;
        padding-left: 30px;

        @include respond(tab-land) {
            padding-top: 0;
            padding-left: 0;
            padding: 0 20px;
        }
        @include respond(tab-land) {
            padding: 0 10px;
        }
        @include respond(mobile-lg) {
            padding: 0 5px;
        }
    }

    &__title {
        font-size: 38px;
        margin-bottom: 10px;

        @include respond(laptop) {
            font-size: 35px;
        }

        @include respond(tab-land) {
            width: 100%;
        }

        @include respond(mobile-lg) {
            font-size: 28px;
        }

        @include respond(mobile-m) {
            font-size: 24px;
        }
        @include respond(mobile-s) {
            font-size: 22px;
        }
    }

    &__price {
        font-weight: 700;
        font-size: 33px;
        font-family: "montserrat";
        color: #df9e08;
        margin-bottom: 20px;

        @include respond(laptop) {
            font-size: 30px;
        }
        @include respond(mobile-lg) {
            font-size: 28px;
        }
        @include respond(mobile-m) {
            font-size: 24px;
        }
        @include respond(mobile-s) {
            font-size: 22px;
        }
    }

    &__overview {
        font-weight: 400;
        width: 80%;
        line-height: 1.4;
        font-size: 15px;
        padding: 20px 0;
        &::after,
        &::before {
            position: relative;
            display: block;
            content: "";
            height: 1px;
            width: 100px;
            background-color: #7a7a7a;
        }

        &::after {
            top: 10px;
        }
        &::before {
            bottom: 10px;
        }

        @include respond(mobile-lg) {
            width: 90%;
        }
    }

    .inp--quantity {
        height: 100%;
        & > * {
            &:first-child {
                right: -1px;
            }

            &:last-child {
                left: -1px;
            }
        }
        button {
            position: relative;
            z-index: 2;
            height: 100%;
            border: 1px solid #7a7a7a;
            border-color: var(--prim-col);
            width: 40px;
            @include transition;
            &:hover {
                background-color: var(--sec-col);
            }
        }
        input {
            color: var(--prim-text-col);
            font-size: 25px;
            border-radius: 0;
            border-color: var(--prim-col);
            height: 100%;
        }
    }
    &__btn {
        margin-top: 30px;
        border-top: 1px solid var(--border-col);
        padding-top: 20px;
        width: auto;
    }

    &__others {
        list-style: none;
        margin-top: 30px;
        li {
            font-size: 16px;
            &:not(:last-child) {
                margin-bottom: 15px;
            }

            @include respond(mobile-lg) {
                font-size: 14px;
            }
            @include respond(mobile-m) {
                font-size: 13px;
            }
        }
        a {
            text-decoration: none;
            font-weight: 400;
            color: var(--prim-text-col);
            @include transition;
            color: var(--gray-col);

            &:hover {
                color: var(--prim-text-col);
            }

            &:not(:last-child) {
                margin-right: 1px;

                &::after {
                    display: inline;
                    content: ",";
                }
            }
        }

        span {
            font-size: 20px;
        }
    }

    &__main-btn {
        display: flex;
        flex-direction: row;
        height: 50px;

        & > * {
            &:first-child {
                margin-right: 20px;
            }
        }

        @include respond(mobile-lg) {
            height: 43px;
        }
    }
    &__tab {
        h2 {
            font-size: 22px;
        }
        &--description {
            h3 {
                font-size: 16px;
                color: var(--prim-col-lighten);
            }
            p {
                text-overflow: clip;
                color: #7a7a7a;
                width: 100%;
                font-size: 15px;
                overflow-wrap: break-word;

                @include respond(tab-port) {
                    width: 95%;
                }
                @include respond(mobile-lg) {
                    font-size: 14px;
                }
            }
            .row {
                &:not(:first-child) {
                    padding: 10px 0;
                }
            }
        }
    }
}

.rating {
    &__overall {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 100%;
        height: auto;
        border-radius: 5px;

        h1 {
            display: block;
            margin: 10px 0;
        }
    }
    &__stars {
        display: block;
        margin: 10px 0;
    }
    &__breakdown {
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        padding: 20px;
        border-radius: 5px;
    }

    &__group {
        list-style: none;
    }
    &__list {
        font-size: 16px;
        display: flex;

        p {
            font-weight: 600;
        }
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        span {
            color: rgb(255, 180, 0);
        }
    }

    &__percent {
        display: block;
        background-color: #f4f4f4;
        flex: 1 1;
        margin: 010px;
        border-radius: 100px;
    }

    &__count {
        font-weight: 700;
        font-size: 15px;
        color: var(--gray-col);
    }
    &__helpful {
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 100%;
    }
}
.react-tabs {
    font-size: 18px;
    padding-bottom: 50px;
    &__tab-list {
    }
    &__tab {
        font-weight: 700;
        padding: 20px !important;
        user-select: none;
        border: none !important;
        border-bottom: 3px solid transparent !important;
        @include transition;

        &:focus,
        &:visited,
        &:focus-within {
            box-shadow: none !important;
            border-color: none !important;
            border-bottom: 3px solid var(--sec-col) !important;
        }

        @include respond(mobile-lg) {
            padding: 10px 15px !important;
            font-size: 16px;
        }
        @include respond(mobile-lg) {
            font-size: 14px;
        }
    }

    &__tab--selected {
        position: relative;
        z-index: 2;
        border-radius: 0;
        border-bottom: 3px solid var(--sec-col) !important;

        &:focus,
        &:visited,
        &:focus-within {
            box-shadow: none !important;
            border-color: none !important;
            border-bottom: 3px solid var(--sec-col) !important;
        }
    }

    &__tab-panel {
        padding: 10px;
    }
}

.accordion {
    border: none !important;
    border-radius: 0 !important;
    &__heading {
    }

    &__button {
        border-radius: 0;
        border: none !important;
        color: var(--prim-col) !important;
        font-weight: 700;
        outline: none;
        background: transparent !important;
        background-color: transparent !important;
        @include transition;
        &:hover {
            background-color: #f4f4f4 !important;
        }
        &::before {
            @include transition;
            background-color: var(--sec-col);
        }

        @include respond(tab-land) {
            font-size: 16px;
        }
        @include respond(mobile-lg) {
            font-size: 14px;
        }

        border-bottom: 1px solid var(--sec-col) !important;
    }
    &__item {
    }

    &__panel {
        color: var(--gray-col);
        font-weight: 300 !important;

        @include respond(tab-land) {
            font-size: 16px;
        }
        @include respond(mobile-lg) {
            font-size: 14px;
        }
    }
}

.image {
    height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    @include transition;
}
