.search {
    padding: 40px 0;
    &__filter {
    }

    &__result {
    }

    &__string {
        // text-align: center;
        font-weight: 700;
        font-size: 30px;
        padding: 20px 0;

        span {
            color: var(--sec-col);
            font-size: 40px;
            font-family: "montserrat";
        }

        p {
            margin-top: 10px;
            font-size: 15px;
            color: var(--gray-col);
        }
    }

    &__sorter {
        font-size: 18px;
        display: flex;
        padding: 15px 0;
    }
}

.view-active {
    background-color: var(--sec-col);
    border-color: var(--sec-col);
}
