.search {
    padding: 40px 0;
    &__filter {
    }

    &__result {
    }

    &__string {
        // text-align: center;
        font-weight: 700;
        font-size: 30px;
        padding: 20px 0;

        span {
            color: var(--sec-col);
            font-size: 40px;
            font-family: "montserrat";
        }

        p {
            margin-top: 10px;
            font-size: 15px;
            color: var(--gray-col);
        }
    }

    &__sorter {
        font-size: 18px;
        display: flex;
        padding: 15px 0;
        justify-content: space-between;
        padding-right: 10px;
        & .form-control {
            width: 50%;
            justify-content: flex-end;

            @include respond(mobile-lg) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }

            @include respond(mobile-lg) {
                width: 250px;
            }
            @include respond(mobile-s) {
                width: 200px;
            }
        }
        & .form-select {
            width: 100%;
            @include respond(mobile-lg) {
                width: 100%;
            }
            @include respond(mobile-s) {
                width: 100;
            }
        }
        & label {
            font-size: 14px;
            margin-bottom: 5px;
        }
    }
}

.view-active {
    background-color: var(--sec-col);
    border-color: var(--sec-col);
}
