.btn {
	font: inherit;

	&--primary {
		padding: 1.2rem 5rem;
		font-weight: 700;
		font-size: 2rem;
		background: #df9e08;
		// background-color: var(--prim-col);
		// color: #df9e08;
		height: 100%;
		max-height: 5rem;
		color: #000;
		cursor: pointer;
		@include transition;
		border-radius: 2px;

		span {
			margin-right: 1rem;
		}

		&:hover {
			background-color: var(--prim-col);
			color: #df9e08;
		}
	}
	&--icon {
		position: relative;
		font-size: 3rem;
		color: var(--prim-col);
		svg {
			height: 3rem;
			width: 3rem;
		}
	}

	&--wishlist {
		border: 1px solid var(--prim-col);
		font-size: 1.5rem;
		padding: 0.8rem 1.8rem;
		cursor: pointer;
		@include transition;
		span {
			margin-right: 1rem;
		}
		&:not(:last-child) {
			margin-right: 1rem;
		}
		&:hover {
			border-color: #2d7aed;
			color: #2d7aed;
		}
	}

	&--subcribe {
		position: relative;
		top: -1px;
		color: var(--prim-col);
		font-weight: 700;
		padding: 1rem 2rem;
		background-color: var(--sec-col);
		box-shadow: 0 4px 0 var(--sec-col);
		height: 4.5rem;
		@include transition;
		border-radius: 5px;
		margin-left: -6px;
		font-size: 1.8rem;
		cursor: pointer;

		&:hover {
			background-color: rgb(207, 145, 0);
		}
	}

	&--summarry {
		font-weight: 700;
		font-size: 1.6rem;
		background-color: var(--sec-col);
		padding: 1.3rem 2rem;
		border-radius: 100px;
		width: 100%;
		cursor: pointer;
		@include transition;

		&:hover {
			background-color: rgb(255, 189, 35);
		}
	}

	&--more {
		display: block;
		font-family: 'montserrat';
		font-size: 2rem;
		font-weight: 700;
		text-decoration: none;
		color: #2d7aed;
		@include transition;

		span {
			@include transition;
		}

		&:hover {
			span {
				margin-left: -1rem;
			}
		}
	}

	&--view {
		border: 1px solid #ccc;
		padding: 1rem 1.2rem;
		border-radius: 3px;
		cursor: pointer;
		@include transition;

		&:not(:last-child) {
			margin-right: 1rem;
		}

		&:hover {
			background-color: var(--sec-col);
		}
	}
}
.scrollToTop {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	z-index: 100;
	background-color: var(--sec-col);
	border: 3px solid var(--prim-col);
	height: 6.3rem;
	width: 6.3rem;
	font-size: 3.5rem;
	border-radius: 100%;
	cursor: pointer;

	span {
		@include transition;
	}

	&:hover {
		span {
			margin-top: -0.5rem;
		}
	}
}
