.btn {
    font: inherit;

    &--primary {
        display: inline-flex;
        align-items: center;
        padding: 12px 50px;
        text-align: center;
        text-decoration: none;
        font-weight: 700;
        font-size: 20px;
        background: #df9e08;
        // background-color: var(--prim-col);
        // color: #df9e08;
        height: 100%;
        max-height: 50px;
        color: #000;
        cursor: pointer;
        @include transition;
        border-radius: 2px;

        span {
            margin-right: 10px;
            font-size: 25px;
        }

        &:hover {
            background-color: var(--prim-col);
            color: #df9e08;
        }

        &__added {
            background-color: var(--prim-col);
            color: #df9e08;
        }

        @include respond(tab-land) {
            font-size: 18px;
            padding: 12px 45px;

            span {
                margin-right: 10px;
                font-size: 22px;
            }
        }
    }
    &--icon {
        position: relative;
        font-size: 30px;
        color: var(--prim-col);
        svg {
            height: 30px;
            width: 30px;
        }

        @include respond(laptop) {
            font-size: 25px;
        }

        @include respond(mobile-lg) {
            font-size: 22px;
        }
    }

    &--wishlist {
        border: 1px solid var(--prim-col);
        font-size: 15px;
        padding: 8px 18px;
        cursor: pointer;
        @include transition;
        span {
            margin-right: 10px;
        }
        &:not(:last-child) {
            margin-right: 10px;
        }
        &:hover {
            border-color: #2d7aed;
            color: #2d7aed;
        }

        @include respond(mobile-lg) {
            padding: 8px 15px;
            font-size: 14px;
        }
        @include respond(mobile-s) {
            padding: 8px 10px;
            font-size: 12px;
        }
    }

    &--subcribe {
        position: relative;
        top: -1px;
        color: var(--prim-col);
        font-weight: 700;
        padding: 10px 20px;
        background-color: var(--sec-col);
        box-shadow: 0 4px 0 var(--sec-col);
        height: 45px;
        @include transition;
        border-radius: 5px;
        margin-left: -6px;
        font-size: 18px;
        cursor: pointer;

        &:hover {
            background-color: rgb(207, 145, 0);
        }

        @include respond(tab-land) {
            height: 47px;
        }

        @include respond(mobile-m) {
            display: block;
            margin-top: 10px;
            height: 35px;
            margin-left: 0;
            font-size: 15px;
            margin-left: auto;
            margin-right: 35px;
            width: 95%;
        }
    }

    &--summarry {
        display: block;
        font-weight: 700;
        font-size: 16px;
        background-color: var(--sec-col);
        padding: 13px 20px;
        border-radius: 100px;
        width: 100%;
        cursor: pointer;
        @include transition;

        @include respond(laptop) {
            width: 300px;
            margin-left: auto;
        }

        @include respond(tab-land) {
            width: 400px;
        }

        @include respond(mobile-lg) {
            padding: 10px 15px;
            font-size: 14px;
            width: 100%;
        }

        &:hover {
            background-color: rgb(255, 189, 35);
        }
    }

    &--more {
        display: inline-block;
        font-family: "montserrat";
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        color: #2d7aed;
        @include transition;

        span {
            @include transition;
        }

        &:hover {
            span {
                margin-left: -10px;
            }
        }
    }

    &--view {
        border: 1px solid #ccc;
        padding: 10px 12px;
        border-radius: 3px;
        cursor: pointer;
        @include transition;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &:hover {
            background-color: var(--sec-col);
        }
    }
}
.scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    background-color: var(--sec-col);
    border: 3px solid var(--prim-col);
    height: 63px;
    width: 63px;
    font-size: 35px;
    border-radius: 100%;
    cursor: pointer;

    span {
        @include transition;
    }

    &:hover {
        span {
            margin-top: -5px;
        }
    }
}
