.carousel {
	//   height: 80rem;
	width: 100%;
	overflow: hidden;
	&__list {
		display: block;
		float: left;
		list-style: none;
		overflow: hidden;
		width: 100%;
	}
	&__item {
		width: 100%;
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
		}
	}
}

.owl-carousel {
	.disabled {
		// opacity: 0 !important;
		// visibility: hidden !important;
		@include transition;
	}

	.owl-stage-outer {
		padding-bottom: 30px;
	}

	.owl-dots {
		position: relative;
		margin-top: -25px;
		z-index: 50;
	}
}

.nav-carousel {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 50px;
	width: 50px;
	background-color: var(--sec-col);
	font-size: 0;
	border-radius: 100%;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	&::before,
	&::after {
		position: absolute;
		display: block;
		content: '';
		height: 2px;
		width: 15px;
		background-color: #000;
	}

	&::before {
		top: 20px;
		left: 30%;
		transform: rotate(-45deg);
	}

	&::after {
		left: 30%;
		top: 30px;
		transform: rotate(45deg);
	}
}
.nav-left {
	left: -30px;
	&::before {
	}
}

.nav-right {
	right: -30px;
	transform: translateY(-50%) rotate(180deg);
}
