.carousel {
	--height: 400px !important;
	width: 100%;
	overflow: hidden;
	width: (--height);
	max-width: (--height);
	min-width: (--height);
	&__list {
		display: block;
		float: left;
		list-style: none;
		overflow: hidden;
		width: 100%;
	}
	&__item {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	&__mobile {
		display: none;
		// @include respond(mobile-lg) {
		// 	width: 100%;
		// 	display: block;

		// 	img {
		// 		width: 100%;
		// 	}
		// }
	}

	// @include respond(tab-land) {
	// 	display: none;
	// }
}

.owl-carousel {
	.disabled {
		// opacity: 0 !important;
		// visibility: hidden !important;
		@include transition;
	}

	.owl-stage-outer {
		padding-bottom: 30px;
	}

	.owl-dots {
		position: relative;
		margin-top: -25px;
		z-index: 50;
	}
}

.nav-loading {
	background-color: #f3f3f3 !important;

	&::before,
	&::after {
		background-color: #f8f8f8 !important;
	}
}

.nav-carousel {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 50px;
	width: 50px;
	background-color: var(--sec-col);
	font-size: 0;
	border-radius: 100%;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	cursor: pointer;

	@include respond(tab-port) {
		opacity: 0.5;

		&:focus {
			opacity: 1;
		}
	}
	&::before,
	&::after {
		position: absolute;
		display: block;
		content: '';
		height: 2px;
		width: 15px;
		background-color: #000;
	}

	&::before {
		top: 20px;
		left: 30%;
		transform: rotate(-45deg);
	}

	&::after {
		left: 30%;
		top: 30px;
		transform: rotate(45deg);
	}
}
.nav-left {
	left: -30px;

	@include respond(tab-port) {
		left: -10px;
	}
}

.nav-right {
	right: -30px;
	transform: translateY(-50%) rotate(180deg);

	@include respond(tab-port) {
		right: -10px;
	}
}

.nav-banner-left {
	left: 30px !important;
}

.nav-banner-right {
	right: 30px !important;
	transform: translateY(-50%) rotate(180deg);
}

.owl-carousel .owl-item img {
	// width: auto !important;
}
