.inp {
    font: inherit;
    outline: none;
    border: none;
    &--search {
        position: relative;
        display: flex;
        height: 100%;
        width: 100%;
        input {
            font-size: 1.4rem;
            width: inherit;
            padding: 1.8rem;
            background-color: #f3f3f3;
        }
        button {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);

            svg {
                height: 2.2rem;
            }
        }

        &:focus-within {
            input {
                // background: #000;
            }
        }
    }

    &--subcribe {
        padding: 1rem 2rem;
        font-size: 2rem;
        width: 50rem;
        border-radius: 5px;
        box-shadow: 0 4px 0 var(--sec-col);
        height: 4.5rem;
        @include transition;
    }
}
