.inp {
    font: inherit;
    outline: none;
    border: none;
    &--search {
        position: relative;
        display: flex;
        height: 100%;
        width: 100%;
        @include transition;
        input {
            font-size: 16px;
            width: inherit;
            padding: 18px;
            background-color: #f3f3f3;
            transition: inherit;
        }
        &__btn {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 45px;
            width: 45px;
            border-radius: 100%;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 22px;
            
            svg {
                height: 22px;
            }

            &:hover{
                background-color: #e0e0e0;
            }
        }

        &:focus-within {
            input {
                // background: #000;
            }
        }
    }

    &--subcribe {
        padding: 10px 20px;
        font-size: 20px;
        width: 500px;
        border-radius: 5px;
        box-shadow: 0 4px 0 var(--sec-col);
        height: 45px;
        @include transition;

        @include respond(desktop) {
            width: 370px;
            padding: 8px 16px;
        }
        @include respond(laptop) {
            width: 350px;
            padding: 8px 16px;
        }
        @include respond(tab-land) {
            width: 400px;
            padding: 8px 16px;
            font-size: 18px;
        }
        @include respond(tab-port) {
            font-size: 16px;
            width: 280px;
        }

        @include respond(mobile-m) {
            height: 38px;
            width: 95%;
        }
    }

    &--quantity {
        display: flex;
        align-items: center;
        input {
            font: inherit;
            font-weight: 600;
            font-size: 16px;
            text-align: center;
            padding: 10px;
            width: 70px;
            border-radius: 3px;
            border: 1px solid #7a7a7a;
        }

        button {
            font: inherit;
            font-size: 20px;
            font-weight: 700;
            padding: 10px;
            cursor: pointer;
            color: var(--sec-text-col);
        }
    }
}
