:root {
    --base-col: #fff;

    --prim-col: rgb(13, 13, 13);
    --prim-col-light: rgb(255, 255, 255);

    --sec-col: rgb(249, 176, 6);
    --sec-col-dark: rgb(255, 255, 255);

    --prim-text-col: rgb(13, 13, 13);
    --sec-text-col: rgb(31, 31, 31);

    --white-col: #fff;

    --red-col: #dd3d3d;
}
