.banner {
	--height: 200px;
	position: relative;
	height: var(--height);
	width: 100%;
	overflow: hidden;
	&__image {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 102%;
	}

	&__cover {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.6);
	}

	&__body {
		display: flex;
		color: #fff;
		align-items: center;
		justify-content: center;

		user-select: none;
		height: var(--height);
		h1 {
			font-size: 50px;
		}
	}
}
