.footer {
    padding: 0 0 50px 0;
    background-color: var(--prim-col);
    color: #fff;

    &__subscribe {
        background-color: #1d1d1d;
        padding: 30px 0;
        h1 {
            font-size: 30px;
            color: var(--sec-col);
        }
        p {
            font-family: "roboto";
            font-size: 16px;
            font-weight: 300;
        }
    }

    &__main {
        font-size: 18px;
        font-family: "roboto";
        padding: 50px 0;

        ul {
            list-style: none;

            & > *:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        h3 {
            margin-bottom: 10px;
        }
    }
    &__info {
        li {
            display: flex;

            span {
                width: 40px;
                color: var(--sec-col);
            }

            p {
                font-weight: 300;
                font-size: 17px;
                width: 80%;
                color: #d3d3d3;
            }
        }
    }
    &__list {
        li {
            a {
                color: #d3d3d3;
                text-decoration: none;
                font-size: 18px;
                @include transition;
                &:hover {
                    color: var(--sec-col);
                }
            }
        }
    }
}
