.form-control {
  display: flex;
  flex-direction: row;
  align-items: center;

  label {
    margin-right: 1rem;
  }

  &:not(:last-child) {
    margin-right: 2rem;
  }
}
.form-select {
  width: 25rem;
}
.form-row {
}
