.form-control {
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
        margin-right: 10px;
    }

    &:not(:last-child) {
        margin-right: 20px;
    }
}
.form-select {
    width: 250px;
}
.form-row {
}
