.menu {
	display: block;
	width: 100%;
	background-color: var(--sec-col);

	&__list {
		display: flex;
		width: 100%;
		padding: 0 5rem;
		list-style: none;
	}

	&__item {
		display: inline;
		position: relative;
		color: var(--prim-col);
		&:not(:last-child) {
			// margin-right: 3rem;
		}
		&:hover {
			background-color: var(--prim-col);

			.menu__link {
				color: var(--sec-col);
			}

			.menu__dropdown {
				display: block;
			}
		}
	}

	&__link {
		display: block;
		font-weight: 600;
		font-size: 1.6rem;
		text-decoration: none;
		color: var(--prim-col);
		padding: 1.5rem;
	}

	&__result {
		padding: 0 2rem;
	}

	&__dropdown {
		display: none;
		position: absolute;
		background-color: #fff;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
		width: auto;
		font-size: 1.6rem;
		padding: 2rem 0;
		z-index: 100;

		ul {
			list-style: none;
			width: 25rem;
			padding: 0 3rem 0 2rem;
		}
		li {
			width: 100%;

			&:not(:last-child) {
				border-bottom: 1px solid #f5f5f5;
			}
		}

		a {
			position: relative;
			display: block;
			text-decoration: none;
			padding: 1rem;
			padding-right: 3rem;
			font-weight: 700;
			color: var(--prim-col);

			p {
				@include transition;
			}

			&:hover {
				span {
					transform: translateY(-50%) rotate(-90deg);
				}
				p {
					margin-left: 0.5rem;
				}
			}

			span {
				position: absolute;
				display: block;
				margin-left: 1rem;
				right: 0;
				top: 50%;
				color: rgb(48, 48, 48);
				transform: translateY(-50%);
				@include transition;
			}
		}
	}
}
