.navbar {
    height: 7rem;
    background-color: var(--white-col);
    color: #fff;

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0;
    }
    &__brand {
        display: block;
        height: 5rem;
    }

    &__logo {
        height: 100%;
    }

    &__title {
    }

    &__list {
    }
    &__link {
    }
    &__search {
        display: block;
        width: 60rem;
    }

    &__list {
    }
}
