.navbar {
    background-color: var(--white-col);
    color: #fff;
    transition: all 300ms ease;
    @include transition;

    &__list {
        display: flex;
        height: 30px;
        & > *:not(:last-child) {
            margin-right: 20px;
        }
    }

    &__nav {
        position: relative;
        display: flex;
        height: 80px;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;
        @include transition;

        @include respond(laptop) {
            height: 70px;
        }

        @include respond(tab-land) {
            padding: 10px 20px;
        }

        @include respond(mobile-lg) {
            height: 65px;
            padding: 10px 15px;
        }
    }

    &__search {
        display: block;
        position: absolute;
        top: 15%;
        left: 30%;

        z-index: 15;
        width: 600px;
        height: auto;

        @include respond(desktop) {
            width: 550px;
            height: 50px;
        }

        @include respond(laptop) {
            width: 480px;
            height: 48px;
        }

        @include respond(tab-land) {
            display: none;
        }
    }
    &__brand {
        display: block;
        height: 50px;
        @include transition;
        @include respond(desktop) {
            height: 45px;
        }

        @include respond(tab-land) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @include respond(mobile-lg) {
            height: 40px;
        }

        @include respond(mobile-m) {
            height: 35px;
        }
    }

    &__logo {
        height: 100%;
    }

    &__button {
        display: none;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 45px;
        cursor: pointer;

        @include respond(tab-land) {
            display: flex;
        }

        @include respond(mobile-m) {
            height: 45px;
            width: 40px;
        }
        @include respond(mobile-s) {
            height: 40px;
            width: 35px;
        }

        span {
            position: relative;
            height: 3px;
            width: 80%;
            background: var(--prim-col);
            &::after,
            &::before {
                content: "";
                display: block;
                position: absolute;
                height: inherit;

                background: inherit;
                left: 0;
                height: inherit;
                z-index: 10;
            }

            &::after {
                bottom: 10px;
                width: 110%;

                @include respond(mobile-s) {
                    bottom: 8px;
                }
            }
            &::before {
                width: 80%;
                top: 10px;

                @include respond(mobile-s) {
                    top: 8px;
                }
            }
        }
    }
}

.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90;

    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);

    & .navbar__nav{
        padding-top: 8px;
        height: 60px;
    }

    & .navbar__search{
        height: 40px;

        
    }
    & .inp--search input{
        padding: 11px;
    }

    & .menu__button{
        height: 40px;
    }

    & .menu__link{
        padding: 12px 15px;
    }

    & .navbar__brand{
        height: 40px;
        @include respond(mobile-lg){
            height: 35px;
        }
    }
}

.navbar-hidden {
    margin-top: -80px;

}
