.bdr {
	&--secondary {
		color: var(--sec-col);
		border-color: var(--sec-col);
	}
}

.backdrop {
	position: fixed;
	display: block;
	height: 100vh;
	width: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
